button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #274152);
    background-image: -moz-linear-gradient(top, #3498db, #274152);
    background-image: -ms-linear-gradient(top, #3498db, #274152);
    background-image: -o-linear-gradient(top, #3498db, #274152);
    background-image: linear-gradient(to bottom, #3498db, #274152);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #26261e;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

button:hover {
    background: #3cdffc;
    background-image: -webkit-linear-gradient(top, #3cdffc, #3498db);
    background-image: -moz-linear-gradient(top, #3cdffc, #3498db);
    background-image: -ms-linear-gradient(top, #3cdffc, #3498db);
    background-image: -o-linear-gradient(top, #3cdffc, #3498db);
    background-image: linear-gradient(to bottom, #3cdffc, #3498db);
    text-decoration: none;
}
